mat-card{
  /* margin-top: 100px; */
  padding-top:100px;
  margin-left: 370px;
  /* margin-right: 350px; */
  height: 380px;
  width: 700px;
  padding: 50px;
  background-image: url('../../assets/login_card.jpg');
  background-size: cover;
}
.example-full-width {
  width: 40%;
}
body,html{
  background-color: lightgray;
}

