<html>

<body>
    <div style="padding-top:7%;">
        <mat-card class="example-card mat-elevation-z6">
            <mat-card-content class="login_card">
                <h1>Login</h1>
                <h1 style="margin-top: -50px;color: white;margin-left:450px;font-weight: 900 ">RM Automation</h1>
                <br>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Username" name="username" required style="line-height: 2.0;width: 380px;">
                    </mat-form-field>
                    <br>
                    <br>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" type="password" name="password" required style="line-height: 2.0;width: 280px;">
                    </mat-form-field>
                    <br>
                    <br>
                    <br>
                    <button mat-raised-button color="primary">Submit</button>
                </form>

            </mat-card-content>
            <!-- <mat-card-action> -->
                <!-- <span>
                <button mat-raised-button color="primary" style="width:200px">
                    <mat-icon>face</mat-icon>
                    Facebook</button>
                </span>
                <span>
                <button mat-raised-button color="red" style="width:100px">
                    <mat-icon>face</mat-icon>
                    Accent</button>
                </span> -->
            <!-- </mat-card-action> -->
        </mat-card>
    </div>
</body>

</html>