.example-card {
    max-width: 400px;
  }

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-container{
    min-height:91%;
    margin:0px !important;
  }

  .example-icon{
    padding: 0 14px;
  }

  .example-spacer{
    flex:1 1 auto;
  }

  mat-card{
    width: 90%;
    height: 90%;
    padding: 5px;
    background-color: whitesmoke;
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;

  }

  mat-grid-list{
    margin-top: 70px;
  }

  mat-card-header{
    justify-content: center;
    padding: 5px;
    color: white;
  }
  mat-sidenav{
    background-color: cornflowerblue;
  }
  mat-list-item{
    color: white;
  }