.example-card {
    max-width: 400px;
  }

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-container{
    min-height:91%;
    margin:0px !important;
  }

  mat-card{
    width: 90%;
    height: 90%;
    padding: 5px;
  }
  mat-grid-list{
    margin-top: 70px;
  }